<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Assets / Django</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

{#        <link rel="stylesheet" href="css/normalize.css">#}
{#        <link rel="stylesheet" href="css/main.css">#}
    </head>
    <body>
        <h1>Contenido</h1>
        <ol>
            <li><a href="/cascade">Static folder</a></li>
            <li><a href="/purecss">Compress JS y CSS</a> (CSS/JS)</li>
            <li><a href="/bootstrap">Bootstrap</a> (LESS)</li>
            <li><a href="/foundation">Foundation</a> (SASS)</li>
        </ol>
    </body>
</html>
